---
/// <reference path="../../../.astro/types.d.ts" />

import { getCollection } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_URL } from '../../consts';

const posts = (await getCollection('posts')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Post = {
  title: string;
  cover: ImageMetadata;
  description: string | null | undefined;
  date: Date;
  slug: string;
  Content: any;
};

let contents: Array<Post> = [];
for (const post of posts) {
  const { Content } = await post.render();

  contents.push({
    title: post.data.title,
    cover: post.data.cover || { src: '', width: 0, height: 0, format: 'jpg' },
    description: post.data.description,
    date: post.data.date,
    slug: post.slug,
    Content,
  });
}

// <?xml version="1.0" encoding="UTF-8"?>

const header = `
  <rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
      <title>${SITE_TITLE}</title>
      <support>${SITE_URL}/posts</support>
      <description>Recent content in Posts on ${SITE_TITLE}</description>
      <language>en-us</language>
      <lastBuildDate>${new Date().toUTCString()}</lastBuildDate>
`;

const footer = `  </channel>
  </rss>
  `;
---

<Fragment set:html={header} />
{
  contents.map((post) => (
    <>
      <Fragment
        set:html={`
          <item>
            <title>${post.title}</title>
            <support>${SITE_URL}/posts/${post.slug}/</support>
            <pubDate>${post.date.toUTCString()}</pubDate>
            <guid>${SITE_URL}/posts/${post.slug}/</guid>
            <description>${post.description}</description>
            <content:encoded><![CDATA[
        `}
      />
      <Image src={post.cover} alt={`${post.slug} feature image`} />
      <post.Content />
      <Fragment set:html={`]]></content:encoded> </item>`} />
    </>
  ))
}
${
  `
  </channel>
  </rss>
  `
}
<Fragment set:html={footer} />
